@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
:root {
  --gray: #5a5959;
  --red: #d01c28;
}
* {
  margin: 0px;
}
.container {
  max-width: 1280px;
  min-width: 600px;
  margin: 0 auto;
}
button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 31px;
  font-weight: 500;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
}
.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}
.hero-content {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-weight: 800;
  font-size: 102px;
  line-height: 108px;
}

.hero p {
  font-weight: 600;
  color: var(--gray);
  max-width: 404px;
}

.hero-btn {
  display: flex;
  gap: 40px;
}
.secondary-btn {
  background: transparent;
  color: var(--gray);
  border: 1px solid grey;
}

.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}
.shopping img {
  margin: 16px;
}
@media (max-width: 600px) {
  .hero {
    flex-direction: column;
  }
  .hero-image {
    order: 1;
  }
  .hero-content {
    order: 2;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
}
